<h3>
    {{ leyenda | titlecase }} - {{ progreso }}
</h3>
<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
            <em class="mdi mdi-minus"></em>
        </button>
    </span>
    <input #txtProgress type="number" name="progreso" id="progreso" class="form-control" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
            <em class="mdi mdi-plus"></em>
        </button>
    </span>
</div>