<div class="navbar">
    <a routerLink="/medicos">Médicos</a>
    <a routerLink="/hospital">Hospital</a>
    <a routerLink="/usuario">Usuario</a>
    <a routerLink="/perfil">Perfil</a>
    <a routerLink="/pag404">Pag 404</a>
</div>